<h1><%= @book.title %></h1>

<p>
  <strong>Author:</strong>
  <%= @book.author %>
</p>

<p>
  <strong>Description:</strong>
  <%= @book.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @book.price %>
</p>

<p>
  <strong>Stock Quantity:</strong>
  <%= @book.stock_quantity %>
</p>

<% if user_signed_in? %>
  <%= form_with(model: [@cart, CartItem.new], url: cart_items_path, html: { class: 'mt-4' }) do |form| %>
    <%= form.hidden_field :book_id, value: @book.id %>
    <div class="form-group">
      <%= form.label :quantity, class: 'text-primary' %>
      <%= form.number_field :quantity, value: 1, class: 'form-control', style: 'border-color: #87CEEB;' %>
    </div>
    <%= form.submit 'Add to Cart', class: 'btn btn-primary' %>
  <% end %>
<% end %>

<%= link_to 'Back', books_path, class: 'btn btn-secondary mt-4' %>
